<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{contactId ? 'Edit' : 'New'}} contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="formGroup">
    <form [formGroup]="formGroup">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Website</ion-label>
        <ion-input formControlName="website"></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
